@import "../../../src/assets/font/iconfont.css";
#myCanvas {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}
.tool-box {
  position: absolute;
  z-index: 10;
  background: #d0d0d0;
  display: flex;
  justify-content: space-between;
  &.tool-box--left {
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    flex-direction: column;
  }
  &.tool-box--top {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
  }
  &.tool-box--right {
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    flex-direction: column;
  }
  &.tool-box--bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
  }
  .tool-con {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    &.active {
      background: #333;
      color: #fff;
    }
  }
}
.board-box {
  width: 100%;
  height: 100%;
  position: relative;
  .btn {
    width: 80px;
    height: 30px;
    background: #f0f0f0;
    margin: 0 5px;
  }
}